<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- beans configuration -->
	<bean id="ds"		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- jdbc properties injection -->
		<property name="driverClassName"			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"			value="jdbc:oracle:thin:@localhost:1521:SURI" />
		<property name="username" value="system" />
		<property name="password" value="manager" />
	</bean>
	<bean id="mysqlds"		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- jdbc properties injection -->
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///sbm" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>



	<bean id="dao" class="ss.it.dao.ShopDaoImpl">
		<constructor-arg name="ds" ref="ds"></constructor-arg>
	</bean>

	<bean id="dao1" class="ss.it.dao.ShopDaoMysqlImpl">
		<constructor-arg name="ds" ref="mysqlds"></constructor-arg>
	</bean>



	<bean id="shopS" class="ss.it.service.ShopServiceImpl">
		<constructor-arg name="dao" ref="dao"></constructor-arg>
		<constructor-arg name="dao" ref="dao1"></constructor-arg>
	</bean>

	<bean id="controller" class="ss.it.controller.ShopController">
		<constructor-arg name="service" ref="shopS"></constructor-arg>
	</bean>
</beans>
